* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 225px 0px 225px;
}

.section.one {
  background-color: #1f2937;
}

.navbar h3 {
  margin: 20px 0px 20px 0px;
}

.header-logo-text,
.hero-main-text {
  color: #f8faf8;
}

.header-logo-text {
  font-size: 24px;
}

.hero-main-text {
  font-size: 48px;
}

.links {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.links li,
.hero-secondary-text {
  color: #a3a3a3;
  font-size: 18px;
}

.header-content .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-text,
.header-img {
  flex: 1;
}

.header-img {
  display: flex;
  justify-content: right;
  align-items: stretch;
}

.header-img img {
  height: 228px;
  width: auto;
}

.header-content button {
  color: #f8faf8;
  font-size: 14px;
  padding: 12px 36px 12px 36px;
  background-color: #3882f6;
  border: none;
  border-radius: 12px;
}

.section.two .header {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  padding: 48px 0 48px 0;
}

.section.two .container {
  margin: 0px 300px 0px 300px;
  padding-bottom: 48px;
}

.section.two .box {
  border: 4px solid #3882f6;
  height: 136.5px;
  border-radius: 15px;
}

.section.three {
  background-color: #e5e7eb;
}

.section.three .container {
  flex-direction: column;
  padding: 48px;
}

.quote-content {
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 0;
  padding-left: 75px;
  padding-right: 75px;
}

.quote-attribute {
  font-weight: bold;
  padding-right: 200px;
  margin-left: auto;
}

.section.four .container {
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
  border-radius: 8px;
  background-color: #3882f6;
}

.four-content {
  flex: 1;
  margin: 24px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8faf8;
  gap: 48px;
}

.four-content .content {
  flex: 2;
  margin-left: 48px;
}

.four-content span.bold {
  font-weight: bold;
}

.four-content span.light {
  font-weight: lighter;
}

.four-content .button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-content .button button {
  font: 14px;
  padding: 8px 24px 8px 24px;
  color: #f8faf8;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
}

.section.footer {
  background-color: #1f2937;
  color: #a3a3a3;
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
}

.section.footer p {
  margin: 0;
}
